<html>
<head>
<meta charset="UTF-8">
<title>Apple Components</title>

  <!-- THIS IS A LINK TO THE EXTERNAL .CSS -->
<link rel="stylesheet" href="layout.css">

</head>

<body>
    <div class="outer">
        <div class="navbar">
        <a href="home.html">Home</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contact</a>
        <a href="products.html">Products</a>


        <div class="layout">

        </div>
      </div>
        <div class="page">

<div style="max-width:1280px;width:100%">



  <!---Hero page/content--->

  <div class="herocontainer">
       <img src="img/hero_img.jpg" alt="Hero_img" style="width:100%;"/>
  	 <div class="top_center">
       <p class="hero_text_headline"> Apple tech of the future</p>
       <p>
         apple to make life eaiser with technology.
       </p>
  	</div>
<!---Hero Image  and Text ---->
<div class="page_placement">
<img src="img/iphone 2021.jpg" alt="iphone"/>
<p class="section"> iPhone 2021</p>
<p> Iphone 12 is out!</p>
</div>

<div class="page_placement">
<img src="img/macbook_pro.jpg" alt="macbook pro"/>
<p class="section"> Macbook Pro 2021</p>
<p> Macbook Pro with amazing RAM</p>
</div>

<div class="page_placement">
<img src="img/iwatch 2021.jpg" alt="iwatch"/>
<p class="section">iwatch advanced watch</p>
<p>hightech watch</p>
</div>

<div class="page_placement">
<img src="img/apple tv 2021.jpg" alt="appletv"/>
<p class="section"> Apple tv watch in comfort</p>
<p> amazing graphics!</p>
</div>

<div class="page_placement">
<img src="img/apple music 2021.jpg" alt="apple music"/>
<p class="side_bar"> Apple music listen to songs of the best year yet</p>
<p>listen to music with high quality audio</p>
</div>
	</div>

</div>
</body>
</html>
