
body{
  font-family: helvetica,sans-serif;
  background-color:#FFFF;
  color:#66FCF1;
  margin: 20px;
  padding:20px;

}


.outer{
  text-align: center;
}

.page{

  max-width: 1200px;
  width: 100%;
  display: inline-block;
}

.navbar{
  background-color: #1F2833;
  flex-grow: 1;
  height:100px;
  text-align: left;
	top:0;
  opacity: .7;
  position: sticky;
  overflow: hidden;
  z-index: 100;

}

.logo{
margin-top:10px;
margin-right: 10px;
  max-width:55px;
}

.logo_img{
  margin-top: 0px;
	max-width: 25%;
}


.side_bar{

  margin-bottom:30px;
  border:1px solid;
  text-align: center;
  font-family: helvetica, sans-serif;
  font-weight: bold;
  font-size:14px;
  color:#45A29E;
  padding:40px;

}


.side_bar img{
  cursor: pointer;
  float: center;
  max-width: 700px;

}

.side_bar img:hover{

 transform: scale(.5,.5);

}
