body{
	font-family: sans-serif;
	font-size: 28px;
	background-color: #0B0C10;
	margin:0;
	padding: 0;
}

.outer{
	text-align: center;
}

.page{
	background-color: #1F2833;
	width: 1200px;
	height: 100%;
	display: inline-block;
}

.top{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	height: 100px;
	/*background-color: blue;*/
}

.logo{
	/*background-color: lavender;*/
	max-width:100px;
}

.logo img{
	margin-top:0px;
	margin-left:10px;
	width: 35%;
}

.navbar{
	/*background-color: skyblue;*/
	flex-grow: 1;
	text-align: center;
}

.navbar a{
	font-family: helvetica,sans-serif;
	font-weight: 500;
	font-size: 20px;
	text-decoration: none;
	color:#66FCF1;
	padding-left: 10px;
	padding-right: 10px;
}

.navbar a:hover{
	font-family: helvetica,sans-serif;
	font-weight: 500;
	font-size: 20px;
	text-decoration: none;
	color:#45A29E;
}

.search{
	/*background-color: pink;*/
	align-content: flex-end;
	margin-left: auto;
	max-width: 200px;
}

.search img{
	margin-top:5px;
	margin-right:10px;
	width: 75%;

}

.banner{
margin-top:0px;
max-width:1200px;

}

.banner img{
	width: 1200px;
}

.products{
	margin-top:18px;
	max-width:1200px;
}

.products img{
	display:inline-block;
	width:300px;
	padding: 15px;
}


.contactbox{
	margin-top:18px;
	max-width:950px;
}
.contactbox img{
	display:inline-block;
	width:200px;
	padding:15px;
}

.row{
	display:flex;
	align-items: center;
	padding:18px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*body text*/

.text p{
	font-family: helvetica, sans-serif;
	font-weight: 400;
	font-size: 16px;
	color:#45A29E;
	margin: 30px;
	line-height: 2.0;
}

.text h1{
	font-family: helvetica, sans-serif;
	font-weight: 600;
	font-size:36px;
	color:#b147cb;
	margin: 30px;
	line-height: 2.0;
}
/* Edit Header styles */
.text h2{
	font-family: helvetica, sans-serif;
	font-weight: 400;
	font-size:20px;
	color:#45A29E;
	margin: 30px;
	line-height: 2.0;
}


.text h3{
	font-family: helvetica, sans-serif;
	font-weight: 300;
	font-size:20px;
	color:#45A29E;
	margin: 30px;
	line-height: 2.0;
}

.text a{
	font-family: helvetica, sans-serif;
	font-weight: 300;
	font-size:20px;
	color:#b147cb;
	margin: 30px;
	line-height: 2.0;
	text-decoration: none;
}


.text a:hover{
	font-family: helvetica, sans-serif;
	font-weight: 300;
	font-size:20px;
	color:#66FCF1;
	margin: 30px;
	line-height: 2.0;
	text-decoration: none;
}
/* end of edits */

footer{
	background-color:#5860a1;
	margin-bottom: 0px;
}

footer p{
	font-family: helvetica, sans-serif;
	font-weight: 400;
	font-size:15px;
	color:#66FCF1;
	margin: 30px;
	line-height: 2.0;
}

footer img{
	display:inline-block;
	width: 80px;
	padding:20px;
}
